html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: "Moz TT", "Roboto", "Droid Sans", "Helvetica", "Arial";
}

#main-body {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	background: white;
	color: black;
}

.toolbar {
	position: absolute;
	background: #eee;
	left: 0;
	right: 0;
	height: 48px;
}

#header-bar {
	top: 0;
}

#view {
	position: absolute;
	left: 0;
	right: 0;
	top: 48px;
	bottom: 0;
	overflow: auto;
}
#view {
	border-top: 1px solid #e2e2e2;
}
#content {
	padding: 8px;
}

#header-bar .toolbar-inside {
	padding: 10px;
}

#right-buttons {
	float: right;
}

#header-bar button,
#content-actions button {
	appearance: none;
	border: none;
	width: 24px;
	height: 24px;
	background-color: transparent;
	background-size: 24px 24px;
}

#content-actions button {
	appearance: none;
	border: none;
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
}

#content-actions {
	float: right;
}

#header-bar #title-button {
	background-image: url(images/title.png);
	width: 138px;
	background-size: 138px 24px;
}

#menu-button {
	background-image: url(images/menu.png);
}

#search-button {
	background-image: url(images/search.png);
}

#back-button {
	background-image: url(images/toolbar-back.png);
	width: 48px;
	height: 48px;
	background-size: 48px 48px;
}

#forward-button {
	background-image: url(images/toolbar-forward.png);
	width: 48px;
	height: 48px;
	background-size: 48px 48px;
}

#output-button {
	background-image: url(images/toolbar-output.png);
}

#sources-button {
	background-image: url(images/toolbar-sources.png);
}

#settings-button {
	background-image: url(images/toolbar-settings.png);
}

#language-button {
	background-image: url(images/icon-language.png);
	width: 27px !important;
	height: 16px !important;
	background-size: 27px 16px !important;
}

#content {
	font-size: 14.4px;
}

#content p,
#content li,
#content dl {
	line-height: 1.65;
}

h1 {
	margin-top: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Georgia";
	font-weight: normal;
}


.side-menu {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: #4E4E4E;
	color: white;
}
#left-menu {
	left: 0;
	width: 228px;
	border-left: solid 12px #333;
}
#right-menu {
	right: 0;
	width: 228px;
	border-right: solid 12px #333;
}
.side-menu ul {
	list-style: none outside none;
    margin: 0;
    padding: 0;
}

.side-menu li {
	border-top: 1px solid #717171;
	border-bottom: 1px solid #414141;
	padding: 10px 0px 10px 40px;
    font-weight: normal;
    text-shadow: 0 1px 0 black;
}



body.left-menu #left-menu {
	display: block;
}
body.left-menu #main-body {
	left: 240px;
}

body.right-menu #right-menu {
	display: block;
}
body.right-menu #main-body {
	right: 240px;
}
